pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "ForAlltheFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ValidationGithub",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p1_p_array",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Github data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "P1_ds_github",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "p1_ds_sink",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@item().folder_name",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ValidationGithub",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "p1_ds_validation",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 10
				}
			},
			{
				"name": "GithubMetadata",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://raw.githubusercontent.com/Thepranavpahilwan/matillion_project_1/refs/heads/main/Netflix_azure_project_data/Netflix_Azure_Data_Engineering_Project-main/RawData_AND_Notebooks/netflix_cast.csv"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GithubMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "githubMetadata",
					"value": {
						"value": "@activity('GithubMetadata').output.response",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p1_p_array": {
				"type": "array",
				"defaultValue": [
					{
						"folder_name": "netflix_cast",
						"file_name": "netflix_cast.csv"
					},
					{
						"folder_name": "netflix_category",
						"file_name": "netflix_category.csv"
					},
					{
						"folder_name": "netflix_countries",
						"file_name": "netflix_countries.csv"
					},
					{
						"folder_name": "netflix_directors",
						"file_name": "netflix_directors.csv"
					}
				]
			}
		},
		"variables": {
			"githubMetadata": {
				"type": "String"
			}
		},
		"folder": {
			"name": "P1_netflix_project_pipelines"
		},
		"annotations": []
	}
}