pipeline/v2_variables.json
{
	"name": "v2_variables",
	"properties": {
		"activities": [
			{
				"name": "Set variablefile name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineName",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variablefile name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelines",
					"value": {
						"value": "@variables('pipelineName')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "final_var",
					"value": {
						"value": "@variables('pipelines')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "my_name",
					"value": {
						"value": "@pipeline().parameters.my_name",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"my_name": {
				"type": "string"
			}
		},
		"variables": {
			"pipelineName": {
				"type": "String"
			},
			"pipelines": {
				"type": "Array",
				"defaultValue": [
					"pipeline1",
					"pipeline2"
				]
			},
			"final_var": {
				"type": "Array"
			},
			"my_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "practice"
		},
		"annotations": []
	}
}